/* SELECTORES DE DESCENDIENTES */

nav ul{
    list-style: none;
    text-decoration: none;
    color:crimson;
    font-family:Arial, Helvetica, sans-serif;
}

footer p{ /* Selector descendiente. delimita que sólo los párrafos del footer eliminen el espacio entre párrafos  */
    margin-top: 0rem;
    background-color: rgb(209, 183, 183);
}
footer {
    clear:both; /* ??? `pendiente de explicar */
}

main p {
    width: 15%; 
    float:left;
    margin-right: 2rem;
    margin-left: 2rem;
}

article p[data-autor] { /* atributo como selector de estilos. A todos los párrafos dentro de articulo */
    color:brown;
}

article p [data-autor] { 
    color:brown;
}/* ESPACIO!! atributo como selector de estilos. A todos los atributos data-author que estén dentro de un párrafo
/* im */
p.verde{}/* aplicaría el estil sólo a todos los párrafos con la clase verde */
p .verde{} /* se aplicaría a todos los elementos con clase verde que estuvieran dentro de un párrafor */


 /* footer>p {} Selector hijo. Tomaría sólo las propiedades del inmediatamente anterior, no de los ascendientes de éste. */

