
     /* DEFINICIÓN DE ESTILOS */
     
     body {
        font-family:'Times New Roman', Times, serif;
        font-size: 1rem;
        margin:2%;
        background-color:lightgray;
    }

      header, h1, h2, img, p {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: justify;
    }

    footer {
        padding: 2rem;
        background-color: darkgrey;
        font-size: 0.8rem;
    }
    
    ul {
        padding-left: 4rem;
        padding-right:4rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 900;
    }
    h2 {
        font-size:1.5rem;
        font-weight: 900;
    }
    strong {
        font-weight: 900;
    }
    cite {
        font-style:oblique;
    }
    a:hover{
        color:red;
    }
    a:active{
        color:blue;
             }
    /* a:visited{
        color:blueviolet;
    } */